<app-app-bar title="User Profile">
  <button class="save">
    <app-save-icon></app-save-icon>
    <span>Save</span>
  </button>
</app-app-bar>
<div class="content_container">
  <form class="card">
    <div class="row">
      <div class="input_field">
        <label for="first_name">First name:</label>
        <input id="first_name" type="text" />
      </div>
      <div class="input_field">
        <label for="last_name">Last name:</label>
        <input id="last_name" type="text" />
      </div>
    </div>
    <div class="row">
      <div class="input_field">
        <label for="email">Email:</label>
        <input id="email" type="email" />
      </div>
      <div class="input_field">
        <label for="phone_number">Phone number:</label>
        <input id="phone_number" type="text" />
      </div>
      <div class="input_field">
        <label for="role">Role:</label>
        <input id="role" type="text" disabled />
      </div>
    </div>
  </form>
</div>
