<app-app-bar title="Company Profile">
  <button class="save">
    <app-save-icon></app-save-icon>
    <span>Save</span>
  </button>
</app-app-bar>
<div class="content_container">
  <form class="card">
    <div class="row">
      <div class="input_field">
        <label for="company_name">Company name:</label>
        <input id="company_name" type="text" />
      </div>
      <div class="input_field">
        <label for="street_1">Street 1:</label>
        <input id="street_1" type="text" />
      </div>
      <div class="input_field">
        <label for="street_2">Street 2:</label>
        <input id="street_2" type="text" />
      </div>
      <div class="column">
        <div class="input_field" style="width: 70%">
          <label for="city_state">City, State:</label>
          <input id="city_state" type="text" />
        </div>
        <div class="input_field" style="width: 30%">
          <label for="zip">Zip:</label>
          <input id="zip" type="text" />
        </div>
      </div>
    </div>
    <div class="row">
      <div class="input_field">
        <label for="mcFF">MC/FF #:</label>
        <input id="mcFF" type="text" />
      </div>
      <div class="input_field">
        <label for="usDot">US DOT:</label>
        <input id="usDot" type="text" />
      </div>
      <div class="input_field">
        <label for="feinSsn">FEIN/SSN:</label>
        <input id="feinSsn" type="text" />
      </div>
      <div class="input_field">
        <label for="scac">SCAC:</label>
        <input id="scac" type="text" />
      </div>
    </div>
  </form>
</div>
